ul{
 list-style-type: none; 
}

#search-box {
  display: block;
  margin: 0 auto;
  margin-top: 6.25rem;

  font: inherit;
  padding: 0.3125rem 0.9375rem;
  max-width: 20rem;
  width: 20rem;
  height: 2.75rem;
  margin-bottom: 16px;

  border: none;
  outline: none;
  border-radius: 3.125rem;

  background: transparent;
  color: #03a9f4;
  font-weight: 600;
  font-size: 0.875rem;
  box-shadow: inset -2px -2px 6px rgba(255, 255, 255, 0.1),
    inset 2px 2px 6px rgba(0, 0, 0, 0.75);
}

.country-list,
.country-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
  padding: 1.875rem;
  gap: 0.9375rem;

  min-width: 9.375rem;
  max-width: 37.5rem;
  min-height: 8.125rem;

  backdrop-filter: blur(22px);
  box-shadow: inset 0 0 0 400px rgba(255, 255, 255, 0.074);
  background-color: transparent;
  color: #e6e6e6;

  border-radius: 0.75rem;
  border: 0.1875rem solid rgba(255, 255, 255, 0.12);

  animation: color-change-2x 2s linear infinite alternate both;
}

@keyframes color-change-2x {
  0% {
    background: #48e7f31c;
  }
  100% {
    background: #b041f11a;
  }
}

.country-info img {
  margin: 0 auto;
  display: block;
}

.country-list span {
  display: inline-block;
  font-size: 1.25rem;
  vertical-align: super;
}
img + p {
  font-weight: 700;
  color: #ffffff;
  text-align: center;
}

p {
  color: #03a9f4;
  margin-top: 0rem;
  margin-bottom: 0.625rem;
}
p > span {
  color: #ffffff;
}

ul {
  list-style: none;
}
